**\test-key.pem
**/openjdk-17.0.2_linux-x64_bin.tar.gz
**\.ssh\
**\.nvm\
**\.npm\
**\.local\
**\.landscape\
**\.gemini\
**\.docker\
**\.config\
**\.cache\
**\.ansible\
**\.vscode-remote-containers
**\.aws
**\.azure

**\.bash_history
**\.bashrc
**\.motd_shown
**\.profile
**\.sudo_as_admin_successful
**\.viminfo
**\.wget-hsts
**\.Xauthority
**\.docker/contexts
**\.docker/features.json