confluent.license.topic=_confluent-command

debug=false

host.name={{ public_ip }}

inter.instance.protocol=http

kafkastore.bootstrap.servers={{cp1_broker1_a_public_ip}}:9092,{{cp1_broker2_a_public_ip}}:9092,{{cp1_broker3_a_public_ip}}:9092

kafkastore.security.protocol=PLAINTEXT

kafkastore.topic=_schemas

kafkastore.topic.replication.factor=3

listeners=http://0.0.0.0:8081

schema.compatibility.level=full

schema.registry.group.id=schema-cluster
