### control-center.properties ###
bootstrap.servers={{cp1_broker1_a_public_ip}}:9092,{{cp1_broker2_a_public_ip}}:9092,{{cp1_broker3_a_public_ip}}:9092

#zookeeper.connect=kafka1:2181,kafka2:2181/confluent
confluent.controlcenter.command.topic=_confluent-command
confluent.controlcenter.command.topic.replication=3
confluent.controlcenter.connect.connect-cluster.cluster=http://{{cp1_connect1_a_private_ip}}:8083,http://{{cp1_connect2_a_private_ip}}:8083
confluent.controlcenter.data.dir=/data/control-center
confluent.controlcenter.id=1
confluent.controlcenter.internal.topics.partitions=2
confluent.controlcenter.internal.topics.replication=3
confluent.controlcenter.name=control-center
confluent.controlcenter.rest.listeners=http://0.0.0.0:9021
confluent.controlcenter.schema.registry.url=http://{{cp1_sr1_a_public_ip}}:8081,http://{{cp1_sr2_a_public_ip}}:8081
confluent.controlcenter.ui.autoupdate.enable=false
confluent.controlcenter.ui.controller.chart.enable=true
confluent.controlcenter.usage.data.collection.enable=false
confluent.metrics.topic=_confluent-metrics
confluent.metrics.topic.partitions=12
confluent.metrics.topic.replication=3
confluent.monitoring.interceptor.security.protocol=PLAINTEXT
confluent.monitoring.interceptor.topic.partitions=2
confluent.monitoring.interceptor.topic.replication=3